@page
@model Zad3.Pages.SzukaneModel
@{
}
@foreach (var item in Model.BF)
{

    <p>Nr: @{ Model.a++; }@Model.a Dane: @item.ToString() Data: @item.date</p>
    @if (item.historical == false && item.userId == Model.GetUserId())
    {
        <form method="post">
            @Html.Hidden("itemId", item.Id)
            @Html.Hidden("userId", item.userId)
            <button type="submit" class="btn btn-primary">Usuń</button><br />
        </form>
    }
}